@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --background-color: #444444;
  --primary-color: #0093ff;
  --secondary-color: #2e2e2e;
  --secondary-lighter: #363636;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: var(--secondary-color);
  width: 30%;
  margin: 10px auto 0 auto;
  border-radius: 10px;
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: var(--secondary-lighter);
  color: white;
}

.navbar a.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 7px;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
